# Exclude every file or folder starting with a dot.
exclude: ^\.
repos:
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.9.0
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        exclude: 'meta\.yaml'
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: fix-byte-order-marker
        types: [text]
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ["--fix=lf"]
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [--branch, main]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==22.3.0]

  # - repo: https://github.com/PyCQA/doc8
  #   rev: 0.8.1rc3
  #   hooks:
  #     - id: doc8
  #       exclude: "docs/gettsim_objects/variables.rst|docs/geps/gep-00.rst"

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [
            flake8-alfred,
            flake8-bugbear,
            flake8-builtins,
            flake8-comprehensions,
            flake8-docstrings,
            flake8-eradicate,
            flake8-print,
            # flake8-pytest-style,  # produces SyntaxError with umlauts.
            flake8-todo,
            flake8-unused-arguments,
            pep8-naming,
            pydocstyle,
            Pygments,
          ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        args: [
            # --no-strict-optional,
            --ignore-missing-imports,
            --install-types,
            --non-interactive,
          ]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2
    hooks:
      - id: pyupgrade

  # ToDo: comment in if only python 3.10 and above is supported
  # - repo: https://github.com/dosisod/refurb
  #   rev: v1.7.0
  #   hooks:
  #     - id: refurb

  # - repo: https://github.com/econchick/interrogate
  #   rev: 1.5.0
  #   hooks:
  #     - id: interrogate
  #       args: [-v, --fail-under=50]
  #       exclude: ^(dashboard/|gettsim/docs/)

  # - repo: https://github.com/adrienverge/yamllint.git
  #   rev: v1.26.1
  #   hooks:
  #     - id: yamllint
  #       files: \.(yaml|yml)$
  #       types: [file, yaml]
  #       entry: "yamllint --strict -f parsable -d '{rules: {document-start: {present: false}}'"

  # - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  #   rev: 0.2.1 # or other specific tag
  #   hooks:
  #     - id: yamlfmt

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
      # - id: identity # Prints all files passed to pre-commits. Debugging.
