# Exclude every file or folder starting with a dot.
exclude: ^\.
repos:
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.4
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-yaml
        exclude: 'meta\.yaml'
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: check-byte-order-marker
        types: [text]
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==22.3.0]
  # - repo: https://github.com/PyCQA/doc8
  #   rev: 0.8.1rc3
  #   hooks:
  #     - id: doc8
  #       exclude: "docs/gettsim_objects/variables.rst|docs/geps/gep-00.rst"
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8
        additional_dependencies: [
            flake8-alfred,
            flake8-bugbear,
            flake8-builtins,
            flake8-comprehensions,
            flake8-docstrings,
            flake8-eradicate,
            flake8-print,
            # flake8-pytest-style,  # produces SyntaxError with umlauts.
            flake8-todo,
            flake8-unused-arguments,
            pep8-naming,
            pydocstyle,
            Pygments,
          ]
  # -   repo: https://github.com/codespell-project/codespell
  #     rev: v1.17.1
  #     hooks:
  #     -   id: codespell
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.
