# Exclude every file or folder starting with a dot.
exclude: ^\.
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.8.0
    hooks:
    -   id: reorder-python-imports
        files: '(\.pyi?|wscript)$'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-yaml
        exclude: 'meta\.yaml'
    -   id: check-added-large-files
        args: ['--maxkb=10000']
    -   id: check-byte-order-marker
        types: [text]
    -   id: check-merge-conflict
    -   id: check-json
    -   id: pretty-format-json
        args: [--autofix, --no-sort-keys]
    -   id: trailing-whitespace
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.25.1
    hooks:
    -   id: pyupgrade
        args: [
          --py36-plus
        ]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.3.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.3b0]
        files: '(\.md|\.rst)$'
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        files: '(\.pyi?|wscript)$'
        language_version: python3.7
-   repo: https://github.com/PyCQA/doc8
    rev: 0.8.1rc2
    hooks:
        -   id: doc8
            args: [--max-line-length, "88"]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
        files: '(\.py|wscript)$'
        additional_dependencies: [
            flake8-bugbear, flake8-builtins, flake8-comprehensions,
            flake8-deprecated, flake8-docstrings, flake8-eradicate, flake8-print,
            flake8-rst-docstrings, flake8-todo, flake8-type-annotations,
            pep8-naming, pydocstyle
        ]
        # Harmonizing flake8 and black
        args: [
            '--max-line-length=88',
            '--ignore=E203,E402,E501,E800,W503',
            '--select=B,C,E,F,W,T4,B9'
        ]
