---
name: gettsim
channels:
  - conda-forge
  - nodefaults
dependencies:
  - astor
  - dags
  - ipywidgets==8.0.4
  - jupyterlab
  - myst-parser>=0.18.0
  - nbsphinx
  - networkx
  - numpy_groupies
  - numpydoc
  - openpyxl
  - pandas
  - pdbpp
  - pip
  - plotly>=5.13.0
  - pre-commit
  - pydata-sphinx-theme<=0.12.0
  - pygments
  - pygraphviz
  - pytest
  - pytest-cov
  - pytest-xdist
  - python
  - pyyaml
  - setuptools_scm
  - sphinx
  - sphinx-automodapi
  - sphinx-copybutton
  - sphinx-autodoc2
  - toml
  - pip:
      - kaleido
      - -e .
