name: gettsim
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.7
  - pip
  - anaconda-client
  - bump2version
  - conda-build
  - conda-verify
  - pandas
  - pre-commit
  - pyyaml
  - pytest
  - pytest-cov
  - pytest-xdist
  - restructuredtext_lint
  - sphinx
  - sphinx_rtd_theme
  - xlrd
  - pip:
    - pre-commit
    - restructuredtext_lint
