name: gettsim
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.7
  - pip
  - anaconda-client
  - bokeh=1.4
  - conda-build
  - conda-verify
  - pandas
  - pre-commit
  - pyyaml
  - pytest
  - pytest-cov
  - pytest-xdist
  - restructuredtext_lint
  - sphinx
  - sphinx_rtd_theme
  - pip:
    - bump2version
