name: gettsim
channels:
  - conda-forge
dependencies:
  - python
  - pip
  - anaconda-client
  - bokeh
  - jupyterlab
  - nbsphinx
  - networkx
  - numpy_groupies
  # Jinja2 3.1.0 breaks docs. Keep until nbconvert or Jinja2 fixes it.
  - jinja2<3.1.0
  - openpyxl
  - pandas
  - pdbpp
  - pre-commit
  - pydot
  - pygments
  - pyyaml
  - pytest
  - pytest-cov
  - pytest-xdist
  - restructuredtext_lint
  - sphinx
  - sphinx-automodapi
  - sphinx-copybutton
  - sphinx_rtd_theme
  - pip:
    - bump2version
    - -e .
