name: gettsim
channels:
  - conda-forge
dependencies:
  - anaconda-client
  - astor
  - bokeh<3.0
  - dags
  - ipywidgets
  # Jinja2 3.1.0 breaks docs. Keep until nbconvert or Jinja2 fixes it.
  - jinja2<3.1.0
  - jupyterlab
  - nbsphinx
  - networkx
  - numpy_groupies
  - pandas
  - pdbpp
  - pip
  - pre-commit
  - pydot
  - pygments
  - pytest
  - pytest-cov
  - pytest-xdist
  - python
  - pyyaml
  - restructuredtext_lint
  - sphinx
  - sphinx_rtd_theme
  - sphinx-automodapi
  - sphinx-copybutton
  - pip:
    - kaleido
    - plotly
    - bump2version
    - -e .
