include CHANGES.md
include CITATION
include CODE_OF_CONDUCT.md
include LICENSE

recursive-include src py.typed
recursive-include src *.yaml
recursive-include src *.csv
recursive-include src *.py
recursive-include src/_gettsim_tests/test_data/original_testfaelle *.xlsx
include src/_gettsim_tests/lohnsteuer_bmf_api.ipynb

global-exclude __pycache__/**/*
global-exclude *.py[cod]
global-exclude *.ods
exclude .coveragerc
exclude tox.ini
exclude *environment.yml
exclude codecov.yml
exclude .pre-commit-config.yaml
exclude .readthedocs.yaml
exclude .yamllint.yml

prune docs
